

.menu-item {
  height: auto;
  text-align: start;
  padding: 10px;
}

.img-block{
  overflow: hidden;
}

.photo-img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
/*.photo-img-client{*/
/*  margin-left: 10px;*/
/*  width: 100%;*/
/*  height: auto;*/
/*}*/
